@import "../../../index.scss";

.small {
  display: none;
  box-sizing: border-box;
}

.big {
  display: contents;
  box-sizing: border-box;
}

@media only screen and (max-width: $bp-small) {
  .big {
    display: none !important;
  }

  .small {
    display: contents;
  }

  .nav--smaller--screen {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    flex-wrap: wrap;

    .search {
      order: 1;
      flex: 0 0 100%;
      margin: 12.5px 0;

      &__input {
        font-size: 15px;
        padding: 10px 25px;
        margin-right: -35px;
      }

      &__button {
        font-size: 25px;
      }
    }

    h2 {
      color: $color-primary;
      font-size: 40px;
      padding: 10px;
    }
  }

  .navigation {
    display: contents;

    &__checkbox {
      display: none;
    }

    &__button {
      background-color: $color-grey-light-1;
      height: 50px;
      width: 50px;
      position: fixed;
      top: 25px;
      right: 25px;
      z-index: 1000;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;
    }

    &__background {
      height: 45px;
      width: 45px;
      position: fixed;
      top: 26px;
      right: 26px;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;
      background-image: radial-gradient($color-primary, $color-primary-dark);
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list,
    &__social {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      list-style: none;
      text-align: center;
      width: 100%;
    }

    &__social {
      top: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;

      &__item {
        margin: 7.5px;
        list-style: none;
        padding-right: 25px;
      }

      &__link:link,
      &__link:visited {
        text-decoration: none;
        color: $color-grey-light-1;
        transition: all 0.3s;
      }
    }

    &__item {
      margin: 10px;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 15px;
        font-weight: 300;
        padding: 15px 30px;
        color: $color-grey-light-1;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-grey-light-1 50%
        );
        background-size: 220%;
        transition: all 0.4s;

        span {
          margin-right: 12.5px;
          display: inline-block;
        }
      }

      &:hover,
      &:active {
        background-position: 100%;
        color: $color-primary;
        transform: translateX(5px);
      }
    }

    //ICON
    &__icon {
      position: relative;
      margin-top: 23px;

      &,
      &::before,
      &::after {
        width: 25px;
        height: 3px;
        background-color: $color-primary;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -7.5px;
      }
      &::after {
        top: 7.5px;
      }
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0 !important;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0 !important;
      transform: rotate(-135deg);
    }
  }
}
