/*---------------------------------------------------------
     Color Virable
---------------------------------------------------------*/
$color-primary: #dda069;
$color-primary-dark: #cb864d;
$color-grad-2: #fbdb89;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

/*---------------------------------------------------------
     Font Variable
---------------------------------------------------------*/
$font-primary: "Nunito", sans-serif;
$font-heading: "EB Garamond", serif;

/*---------------------------------------------------------
     Responsive Breakpoint
---------------------------------------------------------*/
$bp-desktop: 112.5em; // 1800px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 56.25em; //900px
$bp-small: 50em; // 800px;
$bp-smaller: 37.5em; // 600px;
$bp-smallest: 31.25em; // 500px

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 99999;
  background: var(--color-primary);
  width: 4rem;
  height: 4rem;
  border-radius: 0.4rem;
  transition: all 0.4s;

  i {
    font-size: 2.4rem;
    color: #fff;
    line-height: 0;
  }

  &:hover {
    background: rgba(var(--color-primary-rgb), 0.8);
    color: #fff;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

/*--------------------------------------------------------------
# Page title
--------------------------------------------------------------*/
.page-title {
  font-size: 70px;
  color: var(--color-black);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  color: $color-grey-dark-2;
  font-size: 20px;
  line-height: 1.7;
  background-color: #f2f2f2;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 40px 0;
  overflow: hidden;
}

.section-header {
  border-bottom: 2px solid var(--color-black);
}

.section-header h2 {
  font-size: 50px;
  color: var(--color-black);
}

.section-header p {
  margin-bottom: 0;
}
